/*
  Cascading Style Sheet for my-profile
*/

/* header rules */
header {
  background-color:#1e3888;
  color: #47a8bd;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* body rules */
body {
	background-color: #47a8bd;
	color: #1e3888;
	padding: 10px;
}

/* article rules */
article {
  background-color: #ffad69;
  color: #9c3848;
}

/* footer rules */
footer {
  background-color: #9c3848;
  color: #ffad69;
  font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/* h1 rules */
h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 64px;
}

/* link rules */

/* unvisited */
a:link {
  color: blue;
}

/* visited */
a:visited {
  color: purple;
}

/* hover */
a:hover {
  color: lightblue;
}

/* clicked */
a:active {
  color: darkblue;
}

/* center rules */
.center {
  display: block;
  margin: auto;
  height: 50%;
  width: 50%;
}
